# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/contrib/tarballs/Chipmunk-6.2.1/
/contrib/tarballs/Chipmunk-6.2.2/
/contrib/tarballs/LuaJIT-2.0.3/
/contrib/tarballs/cjson/
/contrib/tarballs/curl-7.39.0/
/contrib/tarballs/libwebp-0.4.2/
/contrib/tarballs/libwebsockets-1.3-chrome37-firefox30/
/contrib/tarballs/mozilla-release/
/contrib/tarballs/openssl-1.0.1l/
/build/android/
/build/tvos/
/build/ios/
/build/mac/
/contrib/android-arm/
/contrib/android-armv7/
/contrib/android-x86/
/contrib/include/
/contrib/install-android/
/contrib/install-tvos/
/contrib/install-ios/
/contrib/install-mac/
/contrib/tvos-arm64/
/contrib/tvos-x86_64/
/contrib/install-winrt/
/contrib/install-win10/
/contrib/ios-arm64/
/contrib/ios-armv7/
/contrib/ios-armv7s/
/contrib/ios-i386/
/contrib/ios-x86_64/
/contrib/mac-x86_64/
/contrib/src copy/
**/winrt/install
**/winrt/temp
**/winrt/cmake/install

**/tarballs
/build/android-toolchain*
/contrib/android-*